<!DOCTYPE html>
    <html>

    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Martin Shell.  It uses content from mapbod.com and darksky.net! </p>
            <img src="/img/mcs.jpg" class="portrait">
        </div>
        {{>footer}}
    </body>

    </html>